.click {
    display: flex;
    position: relative;
    width: 100px;
    height: 100px;
    background-color: beige;
    margin-left: 10px;

}

body {
    display: flex;
    flex-direction: row;

    width: 100%;
}